.main {
    background-color: black;
    width: 100%;
    position: absolute;
    height: 62px;
}

.brandName {
    color: red;
    font-size: 36px;
    font-weight: bolder;
    margin-left: 70px;
}

@media (max-width: 767px) {
    .brandName {
        font-size: 24px;
    }
}

.store {
    color: white;
}

.icon {
    font-size: 26px;
    float: right;
    cursor: pointer;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .icon {
        margin-left: 10px;
    }
}

.phonenumber {
    font-size: 14px;
}

.phoneicon {
    color: white;
    font-size: 18px;
    margin-left: 50%;
}

@media (max-width: 767px) {
    .phoneicon {
        padding-left: 10px;
    }
}

.verify {
    margin-left: 10%;
}

.userName {
    position: absolute;
    margin-left: -70px;
    margin-top: 20px;
    font-size: 10px;
    color: green;
    font-weight: 400;
}

.userIcon {
    font-size: 22px;
    color: white;
    margin-left: -2px;
}