.brandName {
    color: red;
    font-size: 36px;
    font-weight: bolder;
}

@media (max-width: 767px) {
    .brandName {
        font-size: 24px;
    }
}

.store {
    color: white;
}

.icon {
    color: white;
    font-size: 26px;
    margin-left: 150px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .icon {
        padding-left: 10px;
    }
}

.phonenumber {
    font-size: 14px;
}

.phoneicon {
    position: absolute;
    color: white;
    font-size: 18px;
    padding-left: 58%;
}

@media (max-width: 767px) {
    .phoneicon {
        padding-left: 10px;
    }
}

.verify {
    margin-left: 60px;
    z-index: 999;
}

.userName {
    position: absolute;
    margin-left: -36px;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 500;
    color: green;
}

.userIcon {
    font-size: 22px;
    color: white;
    margin-left: -2px;
}