.main {
    max-width: 1500px;
    margin: 0 auto;
}

.image {
    height: 200px;
    width: 200px;
}

.column {
    border: 1px solid black;
    margin-left: 33px;
    margin-top: 10px;
    border-radius: 5px;
    width: 210px;
    height: 313px;
}