.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .warning {
    font-weight: bold;
    background-color: rgb(49, 46, 46);
    color: white;
  }
  
  .decline {
    background-color: white;
    color: black;
    margin-left: 10px;
    border:1px solid black;
  }

  .accept {
    margin-left: 10px;
  }