.page {
    max-width: 1500px;
    margin-left: 10px;
}

.image {
    height: 500px;
}

.priceIcon {
    position: absolute;
    top: 10px;
    left: 50px;
}

.proporties {
    float: right;
    position: absolute;
    left: 720px;
    top: 60px;
}

.title {
    color: black;
    font-family: fantasy;
    font-weight: '400';
}

.text {
    color: black;
    font-family: fantasy
}